<h1>抽獎名單</h1>
<ul>
<% @lottery_sources.each do |list| %>
  <li>
    <%= list.name %>
    <%= link_to '顯示', lottery_source_path(list) %>
    <%= link_to '編輯', edit_lottery_source_path(list) %>
    <%= button_to '刪除', lottery_source_path(list), method: :delete %>
  </li>
<% end %>
</ul>
<p>
  <%= link_to '加新貓貓', new_lottery_source_path %>
</p>
<% if @lottery_sources.count > 0 %>
<p>
  <%= link_to '抽貓貓！', lottery_lottery_sources_path %>
</p>
<% end %>
