<h1>加入新貓</h1>
<%= form_for @lottery_sources, url: { controller: 'lottery_sources', action: 'create' } do |f| %>
    <p>
    <%= f.label :name, "貓貓名：" %>
    <%= f.text_field :name %>
    </p>
    <%= f.submit "加啦" %><%= link_to '不想加了', controller: 'LotterySources', action: 'index' %>
<% end %>